

<div class="panel panel-default">

    <div class="panel-heading clearfix">

      <span class="pull-left">{{item.label}}</span>

      <form *ngIf="isEditingLabel()" (submit)="setItem(newLabel.value, newParticipant.value, newDate.value);" style="margin:15px;">
        <input #newLabel type="text" [value]="item.label"/>
        <input #newParticipant type="text" [value]="item.data.participants"/>
        <input #newDate type="date" [value]="item.data.dateI"/>
	<input type="submit" value="OK" />

      </form>


      <div class="btn-group pull-right">
          <button type="pull-right btn btn-default" (click)="editLabel()" class="btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
          <button type="pull-right btn btn-default" (click)="delete()" class="btn-default" ><span class="glyphicon glyphicon-remove"></span></button>
          <input #isChecked type="checkbox" [ngModel]="item.checked" (ngModelChange)="check(isChecked.checked)" />
      </div>


    </div>
    <div class="panel-body">
      <span class="glyphicon glyphicon-user"></span> {{getParticipant()}}
      <span class="glyphicon glyphicon-calendar"></span> {{getDate()}}
    </div>

</div>
