section.toBeUpdated {
  background-color: orangered;
}

form {
  display: inline;
}

section {
  margin: 5%;
  width:1000px;
}

#editImg{
  width:15px;
}

#deleteImg{
  width:15px;
}

.panel{
  margin: 20px;
}

.panel-heading{
  font-size:150%;
  font-weight: bold;
}
.btn-default {
    display: inline-block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    transform: scale(1.1);
}
.panel-default {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.panel-default:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}