/*
:host {
  padding: 0em;
  display: flex;
  flex-flow: column;
}

:host > section.root {
  flex: 1 1;
  margin: 0;
  padding: 0.25em;
}

h3 {
  margin-top: 0;
}
*/

.root{
  margin:10px;
}


#technicolor{
  vertical-align:top;
  margin:0.5em;
}

section.items{
  vertical-align:top;
  width:inherit;
}
.btn-default {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.btn-default:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}